%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-
{include_erts, false}.
{include_src, false}.
%%{vm_args, "./config/vm.args"}.
{release, {elixir_sample, "0.0.1"}, [nerves_elixir]}.
{lib_dirs, ["../_build/dev/lib/nerves_elixir/", "/Users/jwarwick/Projects/elixir/lib/elixir/"]}.
{extended_start_script, true}.
